.*
!.git*
vendor/
node_modules/
public/js/bundle.js
*.db
Godeps/_workspace
!.eslintrc.js
!.editorconfig
data/input/*.csv
data/middle/*
!data/middle/.gitkeep
data/output/*
!data/output/.gitkeep
data/original/*.csv
data/sp/*.csv
config/config.toml
/TAGS
npm-debug.log
venv/
analysis/img
