html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.overlay {
    background: yellow;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
}